/*YUI 3.17.2 css reset*/
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}

/*base*/
body{font-size: 12px; font-family: "Microsoft Yahei"; }
.grey{background-color: #ededed; }
.red{color: #e21326; }
.textIndent{text-indent: 2em; }
.fs14{font-size: 14px; }
.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clear{clear: both;overflow: hidden;}
/*è¿”å›žé¡¶éƒ¨*/
.backTop{display: none; opacity: 0; position: fixed; bottom: 100px; right: 15px; }
.btqrImg{display: none; position: absolute; opacity: 0; top: 0px; right: 69px; width: 0; height: 0; padding: 4px; background: #424242; font-size: 0; line-height: 0; overflow: hidden; }
.btqrImg img{width: 100%; height: 100%; }
.btqrShow{display: block; width: 69px; height: 66px; border-bottom: 1px solid #696969; background: #424242 url(../images/back_top_qrico.png) no-repeat center center; }
.btBtn{display: block; width: 69px; height: 61px; background: #424242 url(../images/back_top_arrow.png) no-repeat center center; }

/*scrollbar*/
.mCustomScrollbar{ -ms-touch-action: none; touch-action: none; /* MSPointer events - direct all pointer events to js */ }
.mCustomScrollbar.mCS_no_scrollbar{ -ms-touch-action: auto; touch-action: auto; }
.mCustomScrollBox{ /* contains plugin's markup */ position: relative; overflow: hidden; height: 100%; max-width: 100%; outline: none; direction: ltr; }
.mCSB_container{ /* contains the original content */ overflow: hidden; width: auto; height: auto; }
/*VERTICAL SCROLLBAR */
.mCSB_inside > .mCSB_container{ margin-right: 30px; }
.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden{ margin-right: 0; } /* non-visible scrollbar */
.mCS-dir-rtl > .mCSB_inside > .mCSB_container{ /* RTL direction/left-side scrollbar */ margin-right: 0; margin-left: 30px; }
.mCS-dir-rtl > .mCSB_inside > .mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden{ margin-left: 0; } /* RTL direction/left-side scrollbar */
.mCSB_scrollTools{ /* contains scrollbar markup (draggable element, dragger rail, buttons etc.) */ position: absolute; width: 16px; height: auto; left: auto; top: 0; right: 0; bottom: 0; }
.mCSB_outside + .mCSB_scrollTools{ right: -26px; } /* scrollbar position: outside */
.mCS-dir-rtl > .mCSB_inside > .mCSB_scrollTools, 
.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools{ /* RTL direction/left-side scrollbar */ right: auto; left: 0; }
.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools{ left: -26px; } /* RTL direction/left-side scrollbar (scrollbar position: outside) */
.mCSB_scrollTools .mCSB_draggerContainer{ /* contains the draggable element and dragger rail markup */ position: absolute; top: 0; left: 0; bottom: 0; right: 0;  height: auto; }
.mCSB_scrollTools a + .mCSB_draggerContainer{ margin: 20px 0; }
.mCSB_scrollTools .mCSB_draggerRail{ width: 2px; height: 100%; margin: 0 auto; -webkit-border-radius: 16px; -moz-border-radius: 16px; border-radius: 16px; }
.mCSB_scrollTools .mCSB_dragger{ /* the draggable element */ cursor: pointer; width: 100%; height: 30px; /* minimum dragger height */ z-index: 1; }
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ /* the dragger element */ position: relative; width: 4px; height: 100%; margin: 0 auto; -webkit-border-radius: 16px; -moz-border-radius: 16px; border-radius: 16px; text-align: center; }
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar, 
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar{ width: 12px; /* auto-expanded scrollbar */ }
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail, 
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail{ width: 8px; /* auto-expanded scrollbar */ }
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown{display: block; position: absolute; height: 20px; width: 100%; overflow: hidden; margin: 0 auto; cursor: pointer; }
.mCSB_scrollTools .mCSB_buttonDown{ bottom: 0; }


/*å¤´éƒ¨å¼€å§‹*/
.header{position: fixed; left: 0; right: 0; z-index: 999; height: 80px; width: 100%; min-width: 1000px; }
.header_bg{height: 80px; background: #ffffff; }
.header_bar{position: relative; z-index: 9; height: 30px; background: #fff; }
.logo{position: absolute; left: 50px; top: 0; height: 43px; width: 209px; padding: 22px 0 0; background: url(../images/logo_bg.png) no-repeat center bottom; text-align: center; font-size: 0; line-height: 0; }
.logo img{width: 110px}
.social{float: right; padding: 8px 0 6px; }
.slist{position: relative; float: left; z-index: 0; }
.slist.active{z-index: 9; }
.sfocus{margin: 0 18px 0 10px; padding: 0 16px 0 0; background: url(../images/header_arrow.png) no-repeat right center; color: #999999; text-decoration: none; }
.slist.active .sfocus{background-image: url(../images/header_arrow_hover.png); color: #111; }
.sqrcode_wrap{display: none; position: absolute; top: 0px; right: 0; opacity: 0.8; filter: alpha( opacity = 80 ); width: 200px; height: 229px; padding: 25px 4px 4px; background: url(../images/qr_code_shadow.png) no-repeat center bottom; text-align: center; }
.sqrcode{display: block; cursor: default; padding: 8px 0 4px; font-size: 0; line-height: 0; }
.slink{display: block; cursor: default; color: #676767; text-decoration: none; line-height: 24px; }

.menu{position: relative; height: 69px; background: #ffffff; }
.mshadow{position: absolute; bottom: -5px; left: 0; right: 0; clear: both; height: 5px;}
.mwrap{float: right; }
.mli{float: left; height: 69px; border-left: 1px solid #bfbfbf; }
.mlink{display: block; width: 101px; height: 45px; padding: 12px 0; background: #ffffff; text-align: center; text-decoration: none; }
.mlink.curr{background: #EFEBEA; }
.mico{position: relative; display: block; width: 24px; height: 24px; margin: 0 auto; overflow: hidden;  }
.micoi{position: absolute; top: 0; left: 0; width: 24px; height: 432px; background: url(../images/menu_ico.png) no-repeat center center; }
.mname{line-height: 20px; color: #a6b5c0; }
.curr .mname{color: #373737; }
.mico_home .micoi{top: 0; }
.curr .mico_home .micoi{top: -48px; }
.mico_about .micoi{top: -72px; }
.curr .mico_about .micoi{top: -120px; }
.mico_service .micoi{top: -144px; }
.curr .mico_service .micoi{top: -192px; }
.mico_case .micoi{top: -216px; }
.curr .mico_case .micoi{top: -264px; }
.mico_news .micoi{top: -288px; }
.curr .mico_news .micoi{top: -336px; }
.mico_contact .micoi{top: -360px; }
.curr .mico_contact .micoi{top: -408px; }
/*logo*/
.header_logo{width: 100px;height: 50px;margin: 0px auto;position: relative;top: 35px;}


/*nav*/
.all_nav{width: 100%; height: 50px; background: #fff;box-shadow: 1px 1px 1px #aaa;}
.all_nav_box{width: 1000px; height: 50px; margin: 0px auto; }
.all_nav_box a{text-decoration: none; color: #333;}
.all_nav_logo{float: left; height: 100%; width: 130px;}
.all_nav_list{height: 100%;font-size: 16px;text-align: center; float: right;}
.all_nav_list ul{height: 100%;}
.all_nav_list ul li{height: 30px; float: left; padding: 15px 8px 2px 8px;}
.all_nav_list ul li:hover{border-bottom: 3px solid #FD0000; }
.all_nav_list ul li:hover a{color: #FD0000;}

.inav{width: 100%; height: 50px; background: #fff;box-shadow: 1px 1px 1px #aaa;}
.inav_box{width: 1000px; height: 50px; margin: 0px auto; }
.inav_box a{text-decoration: none; color: #333;}
.inav_logo{float: left; height: 100%; width: 130px;}
.inav_list{height: 100%;font-size: 16px;width: 100%;text-align: center;}
.inav_list ul{height: 100%;}
.inav_list ul li{height: 30px; float: left; padding: 15px 30px 2px 30px;}
.inav_list ul li:hover{border-bottom: 3px solid #FD0000; }
.inav_list ul li:hover a{color: #FD0000;}
/*å¤´éƒ¨ç»“æŸ*/

/* qiehuan */
.accordion{width: 1180px;overflow: hidden;height: 375px;margin:0 auto;}
.accordion ul li{float: left; background-repeat: no-repeat;float: left;width: 140px;height: 350px;cursor: default;}
.accordion ul li.active{width: 620px;}
.accordion ul .item1{background-image: url(../img/pic1.jpg);}
.accordion ul .item2{background-image: url(../img/pic2.jpg);}
.accordion ul .item3{background-image: url(../img/pic3.jpg);}
.accordion ul .item4{background-image: url(../img/pic4.jpg);}
.accordion ul .item5{background-image: url(../img/pic5.jpg);}
.accordion ul li a{display: block;width: 140px;height: 350px;cursor: default;}
.accordion ul .item1 a{background-image: url(../img/pics1.jpg);}
.accordion ul .item2 a{background-image: url(../img/pics2.jpg);}
.accordion ul .item3 a{background-image: url(../img/pics3.jpg);}
.accordion ul .item4 a{background-image: url(../img/pics4.jpg);}
.accordion ul .item5 a{background-image: url(../img/pics5.jpg);}
/* qiehuan end */



.banner{position: relative; height: 500px; overflow: hidden; }
.bwrap{position: relative; z-index: 0; }
.bquery{position: relative; z-index: 0; height: 500px; }
.blist{display: none; position: absolute; top: 0; left: 0; z-index: 0; height: 500px; font-size: 0; line-height: 0; }
.blist a{display: block; position: absolute; left: 0; top: 0; }
.blist img{ }
/*.bannerTmpBox{display: none; position: absolute; left: 0; top: 0; z-index: 9; height: 570px; }
.bannerTmpBox a{position: absolute; overflow: hidden; font-size: 0; line-height: 0; }
.bannerTmpBox a img{position: absolute; }*/
.bfilter{position: absolute; top: 0; left: 0; z-index: 9; width: 100%; height: 350px; font-size: 0; line-height: 0; }
.bfilter a{position: absolute; top: 0; left: 0; width: 5%; height: 500px; overflow: hidden; }
.bfilter a img{position: absolute; left: 0; top: 0; }

.bctrl{position: absolute; bottom: 24px; left: 0; z-index: 9; width: 100%; height: 24px; }
.bctrli{text-align: center; font-size: 0; line-height: 0; }
.bctrli a{display: inline-block; width: 24px; height: 24px; margin: 0 3px; background: url(../images/banner_control.png) no-repeat left center; }
.bctrli a:hover,
.bctrli a.curr{background-position: right center; }
.bctrli a{*display: inline; *zoom: 1; }

/*movie list*/
.movie_box{width: 1000px; height:1900px;margin: 0px auto;}
.movie_block{width: 100%; height: 310px;}
.mb_title{width: 990px; height: 30px;font-size: 20px;border-left: 5px solid red;padding-left: 5px;}
.mb_title span{font-size: 14px; float: right;margin-right: 45px;}
.mb_title span a{text-decoration: none;color: #aaa;}
.mb_title span a:hover{ color: #FB0000;}
.movie_block ul{width: 100%; height: 250px; overflow: hidden;}
.movie_block ul li{ width: 220px; height: 230px; float: left; background: #f26968;margin: 20px 14px 0px 14px; border:1px solid #f26968;}


.movie_block ul li img{width: 100%; height: 85%;}
/* .movie_block ul li img:hover{box-shadow: 1px 2px 2px 1px #444;} */
.movie_block ul li div{color: #fff; font-size: 16px;text-align: center;line-height: 25px;}
/* .movie_block ul li div a{text-decoration: none;}
.movie_block ul li div a:hover{text-decoration: underline;} */

/*æœåŠ¡èŒƒå›´ç±»åˆ«å¼€å§‹*/
.service{width: 1000px; margin: 0 auto; padding: 0 0 47px; }
.serQuery{margin: 0 0 0 -14px; width: 1028px; height: 346px; overflow: hidden; padding: 50px 0 0; overflow: hidden; }
.serLi{position: relative; float: left; width: 229px; height: 346px; margin: 0 14px; }
.serWrap{position: absolute; top: 0; left: 0; width: 227px; height: 344px; border: 1px solid #cecece; }
.serIco{width: 103px; height: 103px; margin: 24px auto 0; background: #D7D7D7 url(../images/service_ico_circle.png) no-repeat center center; font-size: 0; line-height: 0; text-align: center; }
.serTitle{margin: 35px 0 4px; line-height: 28px; font-size: 18px; color: #000000; text-align: center; }
.serIntro{padding: 8px 21px 16px 21px; text-align: center; line-height: 24px; color: #484848;font-size: 14px; }
.serLink{width: 192px; margin: 0 auto; border-top: 1px dotted #8d8d8d; padding: 21px 0 0; }
.serBtn{display: block; position: relative; width: 120px; height: 37px; overflow: hidden; margin: 0 auto; line-height: 36px; text-align: center; }
.serBtnLink,
.serBtnHover{position: absolute; top: 0; left: 0; width: 120px; height: 37px; background: url(../images/service_button.png) no-repeat center top; }
.serBtnLink{z-index: 1; background-position: center top; color: #3f3f3f; }
.serBtnHover{z-index: 0; background-position: center center; color: #ffffff; }
/*æœåŠ¡èŒƒå›´ç±»åˆ«ç»“æŸ*/

/*æ¡ˆä¾‹ å…³äºŽ æ–°é—» å¼€å§‹*/
.introShow{ background: #ebebeb;padding-top: 50px; }

/*æ¡ˆä¾‹å¼€å§‹*/
.icaseWrap{width: 1000px; margin: 0 auto; padding: 24px 0 16px; }
.icaseHeader{height: 36px; overflow: hidden; padding: 0 0 12px; }
.icaseDetLink{float: right; width: 78px; height: 28px; margin: 4px 0 0; padding: 0 18px 0 0; background: #cbcbcb url(../images/case_more_arrow.png) no-repeat 70px center; line-height: 28px; color: #ffffff; text-align: center; text-decoration: none; }
.icaseName{float: left; height: 24px; padding: 12px 0 0 110px; background: url(../images/case_title.png) no-repeat left center; line-height: 20px; font-size: 14px; }
.icaseBody{overflow: hidden; }

.icaseLeft{position: relative; float: left; width: 402px; overflow: hidden; background: #ffffff; }
.icaseLeftTitle{height: 28px; padding: 0 0 0 18px; color: #858585; line-height: 40px; font-size: 15px; }
.icaseLeftIntro{position: relative; margin: 16px 0 0; }
.icasebPrev,
.icasebNext{position: absolute; z-index: 9; top: 120px; width: 31px; height: 31px; background: url(../images/case_control.png) no-repeat; }
.icasebPrev{left: 0; background-position: left bottom; }
.icasebPrev:hover{background-position: left top; }
.icasebNext{right: 0;  background-position: right bottom; }
.icasebNext:hover{background-position: right top; }
.icaseBanner{position: relative; z-index: 0; height: 420px; }
.icasebli{position: absolute; left: 0; top: 0; width: 402px; }
.icasePic{display: block; width: 402px; height: 259px; overflow: hidden; font-size: 0; line-height: 0; }
.icaseInfo{border-bottom: 1px solid #ececec; padding: 19px 21px 7px; }
.icaseTitle{line-height: 28px; font-size: 18px; color: #353535; }
.icaseDate{line-height: 22px; font-size: 14px; color: #adadad; }
.icaseIntro{padding: 20px; line-height: 20px; color: #868686; }

.icaseRight{float: right; width: 598px; overflow: hidden; }
.icaserQuery{float: left; width: 284px; margin: 0 0 14px 15px; padding: 8px 0 0; background: #ffffff; }
.icaserTitle{display: block; padding: 0 0 0 15px; font-size: 14px; color: #353535; line-height: 24px; text-decoration: none; }
.icaserQuery:hover .icaserTitle{color: #ffffff; }
.icaserDate{display: block; padding: 0 0 0 15px; line-height: 20px; color: #adadad; }
.icaserPic{position: relative; width: 284px; height: 180px; overflow: hidden; margin: 13px 0 0; font-size: 0; line-height: 0; }
.icaserMask{display: none; position: absolute; top: 0; left: 0; z-index: 8; width: 100%; height: 100%; background: #000000; opacity: 0.8; filter: alpha( opacity = 80 );  }
.icaserLink{position: absolute; top: -45px; left: 120px; z-index: 9; width: 45px; height: 45px; background: url(../images/case_detail.png) no-repeat center center; }/*68px;*/
/*æ¡ˆä¾‹ç»“æŸ*/

.iaAndn{width: 1000px; margin: 0 auto; padding: 0 0 46px; overflow: hidden; }
/*å…³äºŽå¼€å§‹*/
.iabout{float: left; width: 402px;height: 608px; margin: 0 1px 0 0; background: #ffffff; overflow: hidden; }
.iaHeader{position: relative; z-index: 9; height: 54px; border-bottom: 1px solid #eaeaea; }
.iaPrev,
.iaNext{position: absolute; top: 11px; width: 33px; height: 33px; background: #98d2a9 url(../images/about_control.png) no-repeat; }
.iaPrev{right: 51px; background-position: left center; }
.iaNext{right: 17px; background-position: right center; }
.iaPrev:hover,
.iaNext:hover{background-color: #6cbf84; }
.iaQuery{position: relative; z-index: 0; height: 225px; width: 402px; }
.iabout a{color: #9C9C9C; text-decoration: none;}
.iabout a:hover{color: #F26968;}
.iaList{position: absolute; height: 225px; width: 402px; background: #ffffff; }
.iaName{position: absolute; top: -55px; left: 0; height: 32px; width: 379px; padding: 11px 0 11px 23px; }
.iaNameEn{font-size: 24px; color: #777777; line-height: 32px; }
.iaNameCn{margin: 0 0 0 8px; color: #9c9c9c; line-height: 20px; vertical-align: 2px; }
.iaBody{height: 225px; border-bottom: 1px solid #eaeaea; }
.iaPic{position: absolute; left: 20px; top: 25px; width: 172px; height: 175px; font-size: 0; line-height: 0; overflow: hidden;  }
.iaPic img{width: 175px; height: 175px;}

.iaPicMask{position: absolute; left: 0; right: 0; bottom: 0; height: 36px; opacity: 0.8; filter: alpha( opacity = 80 ); background: #ddd; }
.iaPicName{position: absolute; left: 0; right: 0; bottom: 0; padding: 0 10px; font-size: 12px; line-height: 36px; color: #ffffff; }

.iaIntro{position: absolute; right: 14px; top: 25px; width: 176px; }
.iaTitle{font-size: 16px; color: #515151; line-height: 24px; }
.iaContent{padding: 13px 0 0; line-height: 24px; color: #515151;width: 172px;height: 140px;overflow: hidden; color: #868686;}
.ia_warp{width: 403px; height:52px;border-bottom: 1px solid #EAEAEA; }
.iaCtrl{height: 31px; border-top: 1px solid #eaeaea; padding: 19px 0px 0px 20px; float: left; }
.iaCtrl a{display: inline-block; width: 11px; height: 11px; margin: 0 3px; background: #e0e0e0; }
.iaCtrl a{*display: inline; *zoom: 1;}
.iaCtrl a:hover,
.iaCtrl a.curr{background: #4b4b4b; }
.ia_more{width:30px; height: 30px;padding: 19px 15px 0px 0px; float: right; }
.ia_more a{color: #9C9C9C; }
.ia_team{width: 403px;height: 276px;}
.art_team_pic{text-align: center;}

.art_team_pic img{width: 596px; height: 448px;}
.ia_ttitle{width: 375px; height: 55px; border-bottom: 1px solid #EAEAEA;padding: 0px 0px 0px 28px;}
.team_headca{color: #9C9C9C;line-height: 20px;vertical-align: 2px;margin: 20px 0px 0px 10px; float: left;}
.ia_teaminfo{width: 403px; height: 220px;}
.ia_teampic{float: left;width: 175px; height: 175px; background: #ccc; margin: 25px 0px 0px 20px;}
.ia_teampic img{width: 175px; height: 175px;}

.ia_tinfoblock{width:170px; height: 175px; float: left; margin: 25px 0px 0px 15px; }
.ia_tinfoblock h4{width: 100%; height: 25px; font-size: 16px;line-height: 24px; overflow: hidden;}
.ia_tinfoblock span{width: 100%; padding: 13px 0px 0px 0px ; display: block;height: 30px; color: #868686;overflow: hidden;}
.ia_tinfoblock p{width: 100%; color: #868686;height: 105px; overflow: hidden;}
.team_headen{font-size: 24px; color: #777777; line-height: 32px;line-height: 54px; float: left;}
.team_more{float: right; margin: 20px 20px 0px 0px; color: #9C9C9C;}
/*å…³äºŽç»“æŸ*/

/*æ–°é—»å¼€å§‹*/
.iNews{float: left; width: 597px; background: #ffffff; }
.inHeader{height: 54px; padding: 0 0 0 28px; }
.inMore{float: right; width: 72px; height: 54px; border-left: 1px solid #eaeaea; background: #ffffff; text-align: center; line-height: 54px; color: #5f5f5f; font-size: 14px; text-decoration: none; }
.inMore:hover{/*background: #545454;*/ color: #ffffff;  }
.inPrev,
.inNext{float: right; width: 56px; height: 54px; border-left: 1px solid #eaeaea; background: #ffffff url(../images/news_control.png) no-repeat; }
.inPrev{background-position: left bottom; }
.inNext{background-position: right bottom; }
.inPrev:hover{/*background-color: #545454;*/ background-position: left top; }
.inNext:hover{/*background-color: #545454;*/ background-position: right top; }

.inNameEn{font-size: 24px; color: #777777; line-height: 54px; }
.inNameCn{margin: 0 0 0 8px; color: #9c9c9c; line-height: 20px; vertical-align: 2px; }

.inQueryWrap{position: relative; width: 598px; height: 554px; overflow: hidden; }
.inQuery{position: absolute; left: 0; top: 0; width: 1196px; height: 544px; }
.inList{position: relative; height: 112px; width: 486px; border-top: 1px solid #eaeaea; padding: 26px 0 0 112px; }
.inList.inListTop{position: absolute; left: 598px; top : 0; }
.inList.inListBottom{position: absolute; left: 598px; top : 139px; }
.inList.inListBottom2{position: absolute; left: 598px; top : 278px; }
.inList.inListBottom3{position: absolute; left: 598px; top : 407px; }

.inLableDate{position: absolute; top: 26px; left: 28px; width: 65px; height:
73px;border: 1px solid #f26968; background-color: #f26968; color: #ffffff; text-align: center; } 
.indDay{display: block; height: 45px;background: #fff;color:#f26968;  font-size: 36px; line-height: 45px; border-bottom: 1px dotted #ffffff; } .indMonth{display: block
;font-size: 14px;line-height: 24px;width: 100%;height: 28px; }
.inDate{position:absolute; right: 28px; top: 28px; line-height: 24px; color: #b6b6b6; } 
.inTitle{font-size: 14px; line-height: 28px; color: #393939; text-decoration: none; }
.inList:hover .inTitle{color: #f26968; }
.inIntro{padding: 10px 28px 0 0; line-height: 20px; color: #868686; } /*æ–°é—»ç»“æŸ*/ /*æ¡ˆä¾‹ å…³äºŽ æ–°é—» ç»“æŸ*/

/*å›¾ç‰‡å‹é“¾å¼€å§‹*/
.picLink{overflow: hidden; width: 1000px; height: 45px; margin:45px auto; border-left: none; }
.plQuery{overflow: hidden;}
.plList:last-child{margin-right: 0px;}
.plList{float: left; width: 115px; height: 45px;margin-right: 60px; }
.plList a{display: block; position: relative; width: 100%; height: 100%; font-size: 0; line-height: 0; }
.plGrey{position: absolute; left: 0; top: 0; z-index: 9; }
.plColor{position: absolute; left: 0; top: 0; z-index: 1; }
/*å›¾ç‰‡å‹é“¾ç»“æŸ*/

/*åº•éƒ¨ç½‘ç«™åœ°å›¾å¼€å§‹*/
.webSite{width: 1000px;height: 200px; margin: 0px auto; border-bottom: 1px solid #e6e6e6;padding: 35px 0 0px; background: #ffffff; }
.wsLink{ float: left; }
.wslList{float: left; width:170px; height: 200px; }
.wslName{font-size: 16px; color: #393939; line-height: 24px; font-weight: bold; }
.wslcQuery{height: 128px; padding: 8px 0 0; }
.wslcQuery li{ }
.wslcQuery a{line-height: 25px; color: #717171;  text-decoration: none; }
.wslcQuery a:hover{color: #f26968; }

.wsContact{float: right; color: #000000; font-size: 18px; line-height: 28px; }
.wsContact li{overflow: hidden;}
.wscKey{float: left; }
.wscVal{float: right; font-size: 18px; }
.wscVal a{text-decoration: none;color: #333;}
.wscVal a:hover{color: #F26968;}
/*åº•éƒ¨ç½‘ç«™åœ°å›¾ç»“æŸ*/

/*æ–‡å­—å‹æƒ…é“¾æŽ¥å¼€å§‹*/
.textLink{width: 998px; margin: 0 auto 19px; border: 1px solid #eaeaea; border-top: none; padding: 0 0 14px; background: #ffffff; }
.tlHeader{padding: 8px 0 14px 18px; font-size: 14px; color: #000000; line-height: 32px; }
.tlNameEn{color: #b6b6b6; }
.linkQuery{overflow: hidden; }
.linkQuery li{float: left; margin: 0 0 0 30px; }
.linkQuery a{color: #717171; text-decoration: none; line-height: 24px; }
.linkQuery a:hover{color: #000000; }
/*æ–‡å­—å‹æƒ…é“¾æŽ¥ç»“æŸ*/

/*footer*/
.footer_bwarp{width: 100%; background: #fff;}
.footer{background-color: #232323; }
.footerWrap{overflow: hidden;width: 1000px;margin: 0 auto;line-height:24px;color: #ddd; }
.footLeft{float: left; }
.footRight{float:left; }
.footRight a{text-decoration: none; color: #717171; }
.footRight a:hover{color: #ffffff; }
/*footer*/

/*åˆ†é¡µå¼€å§‹*/
.pagination{text-align: center; }
.pgWrap{position: relative; display: inline-block; height: 36px; padding: 0 60px; background: url(../images/pagination_bg.png) repeat-x left center; font-size: 0; line-height: 0; }
.pgWrap{*display: inline; zoom: 1; }
.plRounded{position: absolute; left: -17px; top: 0; width: 17px; height: 36px; background: url(../images/pagination_bg.png) repeat-x left top; }
.prRounded{position: absolute; right: -17px; top: 0; width: 17px; height: 36px; background: url(../images/pagination_bg.png) repeat-x right -72px;  }
.pgQuery{height: 36px; }
.pgQuery a,
.pgQuery .curr{display: inline-block; width: 32px; height: 3px; overflow: hidden; margin: 16px 5px 0; background: #ffffff; }
.pgQuery .curr,
.pgQuery a:hover{background: #d21f3d; }
.pgQuery a{*display: inline; zoom: 1; }
/*åˆ†é¡µç»“æŸ*/

/*æ¡ˆä¾‹é¡µå¼€å§‹*/
.clBody{position: relative; width:  1000px; margin: 36px auto 20px; padding: 0 0 66px; background-color: #ebebeb; }

.clsideWrap{position: absolute; left: -80px; top: 0; width: 80px; height: 76px; }
.clsLabel{position: absolute; left: 0; top: 0; z-index: 9; height: 76px; width: 80px; background: #F26968 url(../images/side_show.png) no-repeat center 28px; cursor: pointer; }
.clside{position: absolute; top: 0; left: 0; z-index: 1; }
.clside li{position: absolute; top: 0; left: 0; display: block; }
.clside li a{display: block; height: 76px; width: 80px;border-top: 1px dashed #FFF; border-bottom: 1px dashed #fff; background: #f26968; color: #ffffff; line-height: 76px; text-align: center; text-decoration: none; }
.clside li a:hover{background: #f69696; }

.csQuery{position: relative; overflow: hidden; padding: 42px 0 50px 31px;background: #fff; }
.csli{position: relative;text-align: center; float: left; width: 271px; height: 391px; overflow: hidden; margin: 0 9px 18px; padding: 13px 13px 0; box-shadow: 2px 2px 2px #dddddd,-2px -2px 2px #dadada; background: #ffffff; }
.cslPic{display: block; width: 273px; height: 205px; overflow: hidden; margin: 0 0 16px; font-size: 0; line-height: 0; background: #000000; }
.cslPic img{width: 273px; height: 205px;}
/*.csli:hover img{opacity: 0.4; filter: alpha( opacity = 40 );  }*/
/*.cslPic img{ }*/
.cslName{line-height: 24px; color: #000; font-size: 14px; text-decoration: none; font-weight: bold;}
.cslName:hover{color: #f26968;}
.cslDate{color: #929292; line-height: 20px; }
.cslSum{padding: 10px 0px 0px 0px; line-height: 24px;text-align: left; color: #414141; width: 100%;height: 75px;overflow: hidden;}
.cslLink{position: absolute; right: 0; bottom: 0; width: 126px; height: 42px; background: #dfe2d2 url(../images/case_qmore.png) no-repeat center center; font-size: 0; line-height: 0; }
/*.csli:hover .cslLink{background-color: #058bbc; }*/

.caseHeader{position: fixed; top: 0; left: 0; right: 0; z-index: 9; height: 58px; background: url(../images/case_header.png) repeat-x left center; }
.caseHeaderWrap{width: 1000px; height: 56px; margin: 0 auto; }
.chLeft{float: left; font-size: 0; line-height: 0; }
.caseList{float: left; }
.caseList a{display: block; width: 61px; height: 53px; background: #000000 url(../images/side_show.png) no-repeat center center; }
.casePrev{float: left; margin: 0 0 0 1px; }
.casePrev a{display: block; width: 57px; height: 53px; background: #000000 url(../images/case_arrow.png) no-repeat 20px center; }
.caseNext{float: left; margin: 0 0 0 1px; }
.caseNext a{display: block; width: 57px; height: 53px; background: #000000 url(../images/case_arrow.png) no-repeat -36px center; }
.caseList:hover,
.casePrev:hover,
.caseNext:hover{background-color: #b70b2c; }

.chRight{float: right; }
.chRight li{position: relative; float: left; width: 62px; height: 53px; margin: 0 1px 0 0; overflow: hidden; background: #000000;  }
.chShareWb,
.chShareTx,
.chShareQz,
.chShareWx{position: absolute; top: 0; left: 0; width: 62px; height: 106px; background: url(../images/case_share.png) no-repeat center top; }
/*.chShareWb:hover,
.chShareTx:hover,
.chShareQz:hover,
.chShareWx:hover{background-color: #b70b2c; }*/
.chShareWb{background-position: center top; }
/*.chShareWb:hover{background-position: center -53px; }*/
.chShareTx{background-position: center -106px; }
/*.chShareTx:hover{background-position: center -159px; }*/
.chShareQz{background-position: center -212px; }
/*.chShareQz:hover{background-position: center -265px; }*/
.chShareWx{background-position: center -318px; }
/*.chShareWx:hover{background-position: center -371px; }*/

.caseDetBanner{height: 492px; position: relative; z-index: 0; width: 100%; overflow: hidden; /*background: url(../images/case_top.png) no-repeat center center;*/ }
.caseDbinner{position: absolute; left: 50%; width: 1920px; margin-left: -960px; text-align: center; }
.caseDbinner img{ }
.caseDetBody{margin: 0 0 24px; padding: 36px 0 0px; /*background: #ececec; */}
.casedbWrap{width: 1000px; margin: 0 auto;}

.casedTop{height: 38px; border-bottom: 1px solid #7f6776; padding: 46px 162px 0; background: url(../images/case_logo.png) no-repeat 50px 42px; line-height: 24px; color: #ffffff; }
.casedQuery{ }
.casedList{padding: 0px 0; text-align: center; font-size: 0; line-height: 0;}
.casedList img{width: 100%; }
.casedBottom{height: 52px; border-bottom: 1px solid #7f6776; padding: 32px 162px 0; background: url(../images/case_logo.png) no-repeat 50px 28px; line-height: 24px; color: #ffffff; }
/*æ¡ˆä¾‹é¡µç»“æŸ*/

/*æ–°é—»é¡µå¼€å§‹*/
.nqBody{width: 1000px; margin: 38px auto 0; padding: 0 0 40px;  }

.nqType{position: relative; overflow: hidden; height: 54px; margin: 0 0 28px; padding: 0 0 0 20px; background: #ffffff; }
.nqtWrap{float: right; overflow: hidden; }
.nqtWrap li{float: left; }
.nqtWrap li a{display: block; height: 51px; padding: 0 23px; border-bottom: 3px solid #ffffff; line-height: 54px; color: #505050; text-decoration: none; }
.nqtWrap li a:hover{ /*border-bottom-color: #058bbc;*/ color: #F26968; }
.nqpNameCn{line-height: 54px; color: #555555; font-size: 14px; }
.nqpNameEn{margin: 0 0 0 4px; line-height: 54px; color: #c6c6c6; font-size: 14px; }
.nqUnderline{position: absolute; bottom: 0; right: 0; height: 3px; background: #F26968; width: 72px; }

.nqlWrap{padding: 0 0 17px; }
.nqli{position: relative; margin: 0 0 25px; padding: 20px 34px 26px 42px; background: #ffffff; }
.nqlDate{position: absolute; top: 0; left: -78px; width: 78px; height: 114px; background: #787878 url(../images/news_clock.png) no-repeat center 78px; }
/*.nqli:hover .nqlDate{background-color: #ec173a; }*/
.nqldDay{display: block; font-size: 36px; color: #ffffff; text-align: center; line-height: 50px; }
.nqldMy{display: block; font-size: 13px; color: #fff; text-align: center; line-height: 24px; }
.nqlTitle{font-size: 14px; color: #000000; line-height: 32px; text-decoration: none; }
.nqli:hover .nqlTitle{color: #ec173a; }
.nqlSum{padding: 12px 0 16px; line-height: 24px; color: #616161; }
.nqlDetDate{line-height: 24px; color: #616161; }


.ndBody{width: 1000px; margin: 38px auto 0; padding: 0 0 20px;  }
.ndContent{position: relative; padding: 42px 26px 48px; background: #ffffff; }
.ndTitle{text-align: center; font-size: 24px; color: #212121; line-height: 36px; }
.ndInfo{padding: 0 0 28px; border-bottom: 1px dotted #848484; text-align: center; line-height: 24px; }
.ndili{margin: 0 14px; }
.ndIntro{margin: 0 0 42px; padding: 34px 0 40px; border-bottom: 1px dotted #848484; line-height: 2em; color: #6f6f6f; }
.ndLabel{padding: 0 0 6px; line-height: 24px; color: #000000; }
.ndLabel a{margin: 0 6px; color: #3f3f3f; text-decoration: none; }
.ndLabel a:hover{color: #F26968; }
.prevAnext{line-height: 24px; color: #3f3f3f; }
.prevAnext li a{margin: 0 0 0 14px; color: #3f3f3f; text-decoration: none; }
.prevAnext li a:hover{color: #F26968; }
.ndBottom{overflow: hidden; }
.ndBack{float: right; width: 75px; height: 32px; background: #b3b3b3; color: #ffffff; line-height: 32px; text-align: center; text-decoration: none; }
.ndBack:hover{background: #F26968; }
.ndShare{height: 36px; padding: 10px 0 0; line-height: 36px; }
.ndShareLabel{vertical-align: middle; }
/*æ–°é—»é¡µç»“æŸ*/

/*æœåŠ¡é¡µå¼€å§‹*/
.serBody{width: 1000px; margin: 0 auto; }
.serlist{padding: 52px 0 0; }
.serli{overflow: hidden; margin: 0 0 26px; border: 1px solid #cecece; padding: 28px 0 24px; background: #ffffff; }
.serLeft{float: left; width: 175px; padding: 38px 20px 0 40px; }
.serlIco{margin: 24px auto 0;  font-size: 0; line-height: 0; text-align: center;background: #fff; }
.serlIco img{width: 175px; height: 110px; }

/*.serli:hover .serlIco{background-color: #058bbc; }*/
.serlTitle{margin: 14px 0 0; line-height: 36px; text-align: center; font-size: 18px; color: #000000; }

.serRight{overflow: hidden; float: left; width: 678px; border-left: 1px dotted #8d8d8d; padding: 18px 0 16px 48px; }
.serLabel{line-height: 32px; font-size: 18px; color: #484848; }
.serLabel span{margin: 0 20px 0 0; }
.serSum{padding: 15px 0 40px; line-height: 24px; color: #3f3f3f; }
.serCon{display: none; }
.serDet{float: right; display: block; position: relative; width: 120px; height: 37px; overflow: hidden; margin: 0 auto; line-height: 36px; text-align: center; text-decoration: none; }
.serdLink,
.serdHover{position: absolute; top: 0; left: 0; width: 120px; height: 37px; background: url(../images/service_button.png) no-repeat center top; }
.serdLink{z-index: 1; background-position: center top; color: #3f3f3f; }
/*.serli:hover .serdLink{display: none; }*/
.serdHover{z-index: 0; background-position: center center; color: #ffffff; }

/*body{overflow: hidden; }*/
.serDetaile{display: none; position: fixed; z-index: 1001; left: 50%; top: -606px; width: 1000px; height: 606px; box-shadow: 5px 5px 5px rgba(0,0,0,0.3), -5px -5px 5px rgba(0,0,0,0.3); margin: -303px 0 0 -500px; background: #ffffff; }
.serDetaile .serCon{display: block; }
.sdCloseBtn{position: absolute; right: -68px; top: 0; width: 68px; height: 68px; background: #e00025 url(../images/dialog_close.png) no-repeat center center }
.sdCloseBtn:hover{background-color: #ef0229; }
.sdTitle{margin: 45px 0 0; font-size: 24px; line-height: 36px; text-align: center; }
.sdContent{overflow: hidden; height: 400px; margin: 42px 40px 0; padding: 14px 28px 0 0; line-height: 30px; }
.sdContent .mCSB_scrollTools,
.sdContent .mCSB_draggerContainer{width: 10px; }
.sdContent .mCSB_dragger{background: #676767; width: 10px; border-radius: 0; }
.sdContent .mCSB_draggerRail{width: 10px; border-radius: 0; background: #c2c2c2; }
.sdContent .mCSB_dragger_bar{display: none; }
.mask{display: none; opacity: 0; filter: alpha( opacity = 0 ); position: fixed; z-index: 1000; left: 0; top: 0; right: 0; bottom: 0; background: #000000; opacity: 0.5; filter: alpha( opacity = 50 ); }
/*æœåŠ¡é¡µç»“æŸ*/

/*å…³äºŽæˆ‘ä»¬å¼€å§‹*/
.aboutWrap{min-width: 1000px; margin-bottom:20px; }
.aboutSide{position: fixed; z-index: 99; top: 192px; right: 28px; width: 47px; }
.aboutSideTop{height: 24px; background: url(../images/about_slide.png) no-repeat left top; }
.aboutSideLink{padding: 24px 0 12px; background: url(../images/about_slide.png) repeat-y -47px top; }
.aboutSideLink a{display: block; width: 19px; height: 19px; margin: 0 auto 14px; background: url(../images/about_slide.png) no-repeat -141px top; }
.aboutSideLink a:hover,
.aboutSideLink a.curr{background-position: -160px top; }
.aboutSideBottom{height: 24px; background: url(../images/about_slide.png) no-repeat -94px top; }

.astepWrap{ }
.astep{ }

.asTitle{font-size: 36px; color: #363636; text-align: center; line-height: 36px; font-weight: bold; }
.asContent{line-height: 32px; }

.astep_1{height: 680px; background: url(../images/about_banner_01.png) no-repeat center center; }
.astep_1 .asTitle{color: #000000;  }
.astep_1 .asContent{padding: 25px 0 0; color: #000; line-height: 32px; font-size: 16px; width:1000px; margin: 24px auto; }

.astep_2{width: 1000px; margin: 0 auto; padding: 58px 0 80px; }
.astep_2 .asContent{padding: 40px 0 0; color: #3e3e3e; min-height:440px; }

.astep_3{height: 596px; padding: 84px 0 0; background: url(../images/about_banner_02.png) no-repeat center center; text-align: center; }
.astep_3 .asTitle{color: #000000;  }
.astep_3 .asContent{padding: 65px 0 0; color: #000000; line-height: 36px; font-size: 18px; }

.astep_4{width: 1000px; margin: 0  auto; padding: 62px 0 158px; overflow: hidden; }
.astep_4 .asSup{overflow: hidden; width: 1050px; padding: 132px 0 0; }
.astep_4 .asSupl{float: left; width: 290px; margin: 0 60px 0 0; }
.astep_4 .asSuplTitle{line-height: 36px; font-size: 24px; color: #2f2f2f; }
.astep_4 .asSuplIntro{padding: 24px 0 0; line-height: 30px; color: #2f2f2f;font-size: 14px; }

.astep_5{position: relative; z-index: 0; height: 680px; overflow: hidden; }
.as5Prev{position: absolute; left: 0; top: 266px; z-index: 9; width: 56px; height: 115px; background: url(../images/about_banner_ctrl.png) no-repeat left top; }
.as5Next{position: absolute; right: 0; top: 266px; z-index: 9; width: 56px; height: 115px; background: url(../images/about_banner_ctrl.png) no-repeat right top; }
.as5Prev:hover{background-position: left bottom; }
.as5Next:hover{background-position: right bottom; }
.as5Query{position: relative; z-index: 0; height: 680px; overflow: hidden; }
.as5Query li{position: absolute; top: 0; left: 0; height: 680px; width: 1000px; overflow: hidden; font-size: 0; line-height: 0; overflow: hidden; text-align: center; }
.as5Query li img{position: absolute; top: 0; }

.astep_6{height: 680px; width: 1000px; margin: 0 auto; background: url(../images/about_banner_04.png) no-repeat center 172px; }
.astep_6 .asTitle{padding: 84px 0 68px; color: #464646; }
.astep_6 .asContent{line-height: 30px; font-size: 14px; color: #464646; }

.astep_7{height: 680px; background: url(../images/about_banner_05.png) no-repeat center center; }
.as7Wrap{width: 920px; margin: 0 auto; padding: 80px 40px 0; }
.astep_7 .asTitle{text-align: center; color: #ffffff; }
.astep_7 .asContent{padding: 44px 0 0; font-size: 14px; line-height: 30px; color: #ffffff; }
.astep_7 .asjbWrap{padding: 14px 0 0; text-align: center; }
.astep_7 .asJoinBtn{display: inline-block; width: 214px; height: 66px; border: 2px solid #a5a5a5; background: url(../images/white_opacity.png); line-height: 66px; text-decoration: none; color: #ffffff; text-align: center; font-size: 18px; }
.astep_7 .asJoinBtn{*display: inline; zoom: 1;  }
.astep_7 .asJoinBtn:hover{background-image: url(../images/white_opacity_hover.png); }
/*å…³äºŽæˆ‘ä»¬ç»“æŸ*/

/*æ‹›è˜é¡µå¼€å§‹*/
.joinBody{width: 1000px; margin: 37px auto 0; background: #ffffff; }
.joWrap{ }
.joList{margin: 0 0 8px; border-bottom: 1px dotted #848484; padding: 48px 40px 58px; }
.joList.noBottomBorder{border-bottom: none; }
.joName{padding: 0 0 40px; color: #000000; font-size: 18px; line-height: 28px; }
.joContent{line-height: 24px; color: #535353; }
.jocTitle{line-height: 28px; color: #000000; font-size: 14px; }
.jocIntro{padding: 20px 0 48px; }
.joSendBtn{display: block; position: relative; margin: 6px 0 0; width: 122px; height: 34px; overflow: hidden; line-height: 34px; text-align: center; }
.josbLink,
.josbHover{position: absolute; top: 0; left: 0; width: 122px; height: 34px; background: url(../images/join_btn.png) no-repeat center top; }
.josbLink{z-index: 1; background-position: center top; color: #3f3f3f; }
/*.joSendBtn:hover .josbLink{display: none; }*/
.josbHover{z-index: 0; background-position: center bottom; color: #ffffff; }

/*body{overflow: hidden; }*/
.joinDialog{position: fixed; z-index: 1001; left: 50%; top: -606px; width: 1000px; height: 606px; box-shadow: 5px 5px 5px rgba(0,0,0,0.3), -5px -5px 5px rgba(0,0,0,0.3); margin: -303px 0 0 -500px; background: #ffffff; }
.jfWrap{width: 420px; margin: 0 auto; padding: 53px 0 0; }
.jfWrap input,
.jfWrap textarea{border: 1px solid #989898; font-size: 14px; line-height: 38px; }
.jfWrap input{height: 38px; }
.jfiName{padding: 0 0 18px; }
.jfiName input{width: 380px; padding: 0 4px; }
.jfiSex{padding: 0 0 18px; }
.jfiSex input{width: 177px; margin: 0 17px 0 0; padding: 0 4px; }
.jfiPosi{padding: 0 0 18px; }
.jfiPosi input{width: 177px; margin: 0 17px 0 0; padding: 0 4px; }
.jfIntro{padding: 0 0 18px; }
.jfIntro textarea{width: 381px; height: 178px; padding: 0 4px; line-height: 24px; }
.jfBtn .jfSubmit,
.jfBtn .jfCancel{position: relative; float: left; width: 186px; height: 41px; margin: 0 19px 0 0; }
.jfBtn input{position: absolute; width: 186px; height: 41px; border: none; background: url(../images/join_form.png) no-repeat center bottom;}
.jfBtn .jfBtnLink{z-index: 9; background-position: center bottom; }
.jfBtn .jfBtnHover{z-index: 0; background-position: center top; color: #ffffff; }
/*.jfBtn .jfSubmit:hover .jfBtnLink,
.jfBtn .jfCancel:hover .jfBtnLink{display: none; }
.jfBtn .jfSubmit:hover .jfBtnHover,
.jfBtn .jfCancel:hover .jfBtnHover{display: block; }*/
/*æ‹›è˜é¡µç»“æŸ*/

/*è”ç³»æˆ‘ä»¬å¼€å§‹*/
.contact_head{width: 1000px; height: 70px;color: #666; margin: 0px auto; font-size: 24px; line-height: 65px;}
.contact_map{width: 100%; height: 354px;}
.contact_map img{width: 100%; height: 350px; border-top: 2px solid #d9d9d9; border-bottom: 2px solid #d9d9d9;}
.contact_body{width: 1000px; margin: 0px auto;}

.contact_info{width: 100%; height: 700px; color: #666;}
.contact_infoleft{width: 770px; height: 100%; float: left;}
.c_leftTitle{width: 100%; height: 90px; border-bottom: 1px dashed #eceff4; font-size: 24px;line-height: 135px;}
.c_leftTitle span{display: block; width: 140px; height: 100%; border-bottom: 2px #f25900 solid;}
.c_leftDescription{width: 100%; height: 100px;line-height: 70px;}
.c_left_list{width: 100%; height: 160px;}
.c_left_list li{width: 320px; height: 55px; float: left; margin:0px 20px 24px 0px;}
.c_left_lbox{display: block; border: 1px solid #dcdcdd; width: 100%; height: 33px;}
.c_left_lt{display: block; width: 100%; height: 22px;}
.c_left_lt span{color: red; padding-left: 2px;}
.c_left_liuyan{width: 100%; height: 245px;}
.c_liuyan_lt{width: 100%; height: 25px;}
.c_liuyan_lt span{color: red; padding-left: 2px;}
.c_liuyan_lbox{display: block; width: 86%; height: 150px; border: 1px solid #dcdcdd;}
.c_tijiao{display: block; width: 135px; height: 45px; background: #ec1f4a; color: #fff; text-align: center; line-height: 45px; float: left;}
.c_tijiao_des{float: left;margin: 13px 0px 0px 20px; color:#ec1f4a; }

.contact_inforight{width: 200px; height: 100%; float: right;font-size: 14px; }
.crb1_title{width: 100%; height: 90px; border-bottom: 1px dashed #eceff4; font-size: 24px;line-height: 135px;}
.crb1_title span{display: block; width: 140px; height: 100%; border-bottom: 2px #f25900 solid; }
.crb1_list{width: 100%; height: 145px; margin-top: 25px; }
.crb1_list li{margin-top: 4px;}
.crb2_title{width: 100%; height:40px; border-bottom: 1px dashed #eceff4; font-size: 24px;}
.crb2_title span{display: block; width: 140px; height: 100%; border-bottom: 2px #f25900 solid; }
.crb2_list{width: 100%; height: 100px; margin-top: 25px;}
.crb2_list li{margin-top: 4px;}



.c_erweima{width: 100%; height: 100px;}
.c_eweixin{border: 1px solid #dcdcdd; text-align:center;width: 498px;height: 100%; float: left;line-height: 150px;background: url(../images/ico_wx.png) no-repeat center;}
.c_eweixin:hover{border: 1px solid #F26968;cursor: pointer;}
.c_esina{border: 1px solid #dcdcdd; text-align:center; width: 498px; height: 100%; float: left;line-height: 150px;background: url(../images/ico_wb.png) no-repeat center;}
.c_esina:hover{border: 1px solid #F26968;cursor: pointer;}


/*è”ç³»æˆ‘ä»¬old*/
.catBody{width: 1000px; margin: 0 auto; padding: 60px 0 0; }
.catTab{overflow: hidden; padding: 0 0 20px; }
.catLabel{float: left; width: 100px; height: 71px; margin: 0 18px 0 0; border: 1px solid #dadada; background: #ffffff; line-height: 72px; color: #828282; text-align: center; text-decoration: none; font-size: 14px; }
.catLabel.curr,
.catLabel:hover{border: 1px solid #ffffff; background: #F26968; color: #ffffff; }
.catQuery{padding: 0 0 23px; }
.catCon{border: 1px solid #d7d7d7; overflow: hidden; }

.catContact{ }
.catConTop{overflow: hidden; padding: 0 0 48px; border-bottom: 1px dotted #9f9f9f; }
.catContl{float: left; width: 680px; padding: 50px 0 0 60px; }
.catctlTitle{font-size: 24px; color: #484848; }
.catctlCon{padding: 42px 0 0; line-height: 32px; color: #484848; }
.catContr{position: relative; float: right; margin: 54px 58px 0 0; width: 192px; height: 77px; border-top: 1px solid #d9d9d9; border-left: 1px solid #d9d9d9;border-right: none; }
.catQrcode{float: left; }
.catqTab{display: block; width: 95px; height: 35px; padding: 42px 0 0; border-right: 1px solid #d9d9d9; background: #f2f2f2; text-align: center; color: #4d4c4d; text-decoration: none; line-height: 24px; }
/*.catqTab.curr{background-color: #ddd; }*/
.catqTab.curr{border-bottom:1px solid #d9d9d9; }
.catqTabwx{background: url(../images/ico_wx.png) no-repeat center 10px; }
.catqTabwb{background: url(../images/ico_wb.png) no-repeat center 8px; }
.catqc{position: absolute; left: -1px; top: 77px; width: 191px;border-right:1px solid #d9d9d9;border-left:1px solid #d9d9d9;border-bottom:1px solid #d9d9d9; padding: 12px 0; text-align: center; }

.catConBottom{overflow: hidden; padding: 68px 0 60px; }
.catBuss{float: left; width: 210px; padding: 0 61px; border-right: 1px dotted #8f8f8f; }
.catBuss:last-child,
.catBussLast{border-right: none; }
.catbTitle{color: #114394; line-height: 24px; font-size: 14px; }
.catbCon{padding: 16px 0 0; line-height: 24px; color: #555555; }

.catWork{padding: 40px 0 64px 38px; }
.catwHead{padding: 0 0 58px; color: #787878; font-size: 14px; line-height: 32px; }
.catwTitle{font-size: 18px; color: #555555; }
.catwInput{padding: 0 0 32px; }
.catwInput input{width: 399px; height: 24px; margin: 0 30px 0 0; border: 1px solid #c6c6c6; padding: 11px 12px 10px; font-size: 14px; line-height: 24px; }
.catwText{padding: 0 0 32px; }
.catwText textarea{width: 860px; height: 118px; border: 1px solid #c6c6c6; padding: 4px 12px; line-height: 24px; font-size: 14px; }
.catwVer{overflow: hidden; padding: 4px; }
.catwVer input{float: left; width: 236px; height: 24px; margin: 0 12px 0 0; border: 1px solid #c6c6c6; padding: 11px 12px 10px; font-size: 14px; line-height: 24px; }
.catwVerImg{float: left; font-size: 0; line-height: 0; vertical-align: -16px; }
.catwVerImg img{ }
.catwBtn{padding: 34px 0 0; }
.catwSubmit,
.catwReset{position: relative; float: left; width: 134px; height: 45px; margin: 0 16px 0 0; font-size: 14px; }
.catwSubmit input,
.catwReset input{position: absolute; top: 0; left: 0; width: 134px; height: 45px; border: none; background-image: url(../images/feed_btn.png); background-repeat: no-repeat; color: #ffffff; }
.catwBtnLink{z-index: 9; background-position: right center; }
.catwBtnHover{z-index: 0; background-position: left center; }
/*.catwSubmit:hover,
.catwReset:hover{background-position: left center; }*/
.catwTip{color: #cf0000; }
.catWork input.focus,
input,
textarea{font-family: "Microsoft Yahei"; }
input:focus,
textarea:focus{outline: none; border: 1px solid #d57a87; box-shadow: 1px 1px 3px #d57a87,-1px -1px 3px #d57a87; }
input.placeholder,
textarea.placeholder{color: #999999; }
input.focus,
textarea.focus{border: 1px solid #d57a87; }

.catMap{text-align: center; padding: 10px 0 0 10px; }
.catMap iframe{border: none; }
/*è”ç³»æˆ‘ä»¬ç»“æŸ*/