<div class="bg_center_v_tile">
  <div class="bg_top_h_tile">
    <div class="bg_top_owner">
      <div class="bg_bottom_h_tile">
        <div class="bg_bottom_owner">
          <div id="page_head">
            
          </div>
          <div id="page_body">

<!-- 导航 -->
<%= render file: 'public/templetes/zhousi/nav.html' %>

<!-- banner -->
<%= render file: 'public/templetes/zhousi/banner.html' %>

<!-- 新闻动态 -->
<%= render file: 'public/templetes/zhousi/news.html' %>

<!-- 青春校园 -->
<%= render file: 'public/templetes/zhousi/c_qcxy.html' %>

<!-- 青春创业 -->
<%= render file: 'public/templetes/zhousi/c_qccy.html' %>
<!-- ad 1 -->
<div class="column_wrapper">
	<div class="ad">
		<a href="http://dianying.cntv.cn/special/cymicrofilm/index.shtml" class="" target="_blank"><img src="/templetes/zhousi/img/ad1.jpg" /></a>
	</div>
</div>

<!-- 青春大赛 -->
<%= render file: 'public/templetes/zhousi/c_qcds.html' %>

<!-- 热门视频 -->
<%= render file: 'public/templetes/zhousi/c_rmsp.html' %>

<!-- 明星丰彩 -->
<%= render file: 'public/templetes/zhousi/c_mxfc.html' %>
<!-- 原创歌曲 -->
<%#= render file: 'public/templetes/zhousi/c_ycgq.html' %>

<!-- ad 2 -->
<div class="column_wrapper">
	<div class="ad">
		<a href="http://dianying.cntv.cn/special/cymicrofilm/index.shtml" class="" target="_blank"><img src="/templetes/zhousi/img/ad2.jpg" /></a>
	</div>
</div>

<!-- 青春旅游 -->
<%= render file: 'public/templetes/zhousi/c_qcly.html' %>

<!-- 青春救助 -->
<%= render file: 'public/templetes/zhousi/c_qcjz.html' %>

<!-- separator 
<div class="column_wrapper">
	<div style="font-size: 8px">&nbsp;</div>
</div>-->

<!-- about us -->
<%= render file: 'public/templetes/zhousi/about-us.html' %>

<!-- partner -->
<%= render file: 'public/templetes/zhousi/partner.html' %>

<div style="width:100%;">
	<div class="zhousi_footer">
	备案号：蜀ICP备15024548号-3 Copyright 成都宙斯影视文化传播有限公司 2016 版权所有
	</div>
</div>
